html,
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang sC", "Hiragino Sans GB",
    "Microsoft YaHei" ， "微软雅黑" ，Arial, sans-serif;
}
/*先删除默认的内外边距*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
a,
textarea,
select {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang sC", "Hiragino Sans GB",
    "Microsoft YaHei" ， "微软雅黑" ，Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}

a:hover {
  filter: alpha(opacity=90);
}

ul,
li {
  list-style: none;
}

h2 {
  margin: 10px 0;
}

h2.description {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #34d399;
}

video,
img {
  width: 100%;
}

/* 文本对齐 */
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align-last: left;
}

#app,
.content {
  color: #334155;
  width: 100%;
  height: 100vh;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.i-icon {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  color: #39c6ad;
  text-decoration: underline;
}

.image-slot {
  background-color: #d5dbdf;
  font-size: 14px;
  line-height: 200px;
  text-align: center;
}

:root {
  --el-color-primary: #34d399 !important;
}

.el-drawer {
  --el-drawer-padding-primary: 0 !important;
}
.el-tabs__item.is-top {
  font-size: 16px;
}
.el-tabs__item.is-top.is-active {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

// 表格
.el-table__row:not(.el-table .active) {
  --el-table-row-hover-bg-color: #f5f7fa;
}
.el-table .active {
  --el-table-tr-bg-color: #c1f1db;
}
.cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 美化滚动条
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  width: 4px;
  background: rgba(#101f1c, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.5);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transition: background-color 0.3s;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, 0.3);
}
